/*
    선택자{속성명 : 값; 속성명 : 값; }
        선택자
        1. *
        2. 마크업명
        3. .class
        4. #id
        - 우선순위
            !important -> style 속성 -> id -> class -> 마크업 -> *

            자식선택자
                선택자 > 선택자
            자손선택자
                선택자 선택자
            복수선택자
                선택자, 선택자
*/

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*기본여백제거*/
*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: 'S-CoreDream-3Light';
}

a{
    text-decoration: none;
    color: black;
}

/*헤더 로고 이미지*/
#head_logo > img{
    width: 130px;
}

.top_menu{
    display: flex;
    justify-content: space-between;
}
#main_menu{
    display: flex;
}
#main_menu > li{
    margin: 0px 30px;
}
#login_menu{
    display: flex;
}
#login_menu > li{
    margin: 0 10px;
}